* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(86,77,241);
    background: radial-gradient(circle, rgba(169,40,68,1) 0%, rgba(92,50,62,1) 50%, rgba(5,1,40,1) 100%); 
}

a {
    color: white !important;
    font-family: 'Pacifico', cursive;
    font-size: 20px !important;
}

.submenu {
    color: #E0E153 !important;
}

a:hover {
    background-color: #220c21;
    color: #E0E153 !important;
    border-radius: 8px 0px 8px 0px;
}

.btn-outline-success:hover {
    width: 10rem;
    background-image: url("../images/whatsappLogoWhite.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 3px;
    color: white !important;
    text-align: end;
}

.dropdown-menu {
    background-color: #220c21;
    color: #E0E153 !important;
}

.dropdown-item:hover {
    background-color:#A92844;
}

.navbar-toggler {
    color: #E0E153 !important;
}

.centrar {
    display: flex;
    justify-content: center;
}

.super {
    font-size: 10vw !important;
}

.centrarV {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Paytone One', sans-serif;
    font-size: 50px !important;
    color: white;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem !important;
    color: #C0D23E;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #C0D23E;
}

.caja {
    padding: 1em;
}

p {
    text-align: end;
    color: antiquewhite;
}

/* estas son las propiedades del video que va aestar detras de la imagen y el texto del header */
video {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    z-index: -1;
    mix-blend-mode: overlay;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 50%);
    mask-image: linear-gradient(to top, transparent 5%, black 50%);
}
